<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link " aria-current="page" href="http://localhost:3000/">Home</a>
                    <a class="nav-link active" href="http://localhost:3000/event">Events</a>
                    <a class="nav-link" href="http://localhost:3000/become/volunteer">Become volunteer</a>
                    <a class="nav-link disabled" aria-disabled="true"></a>
                </div>
            </div>
        </div>
    </nav>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="http://localhost:3000/">Home</a></li>
            <li class="breadcrumb-item"><a href="http://localhost:3000/event">Events</a></li>
            <li class="breadcrumb-item active" aria-current="page">New event</li>
        </ol>
    </nav>
    <br>
    <form class="container" action="/create" method="POST">
        <div class="row">
            <div class="col">
                <div class="row mb-3">
                    <label for="inputtitle3" class="col-sm-2 col-form-label">Event Title</label>
                    <div class="row mb-3">
                        <input type="text" class="form-control" name="title" id="inputtitle3" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputOrganizer3" class="col-sm-2 col-form-label">Organizer</label>
                    <div class="row mb-3">
                        <input type="text" class="form-control" name="organizer" id="inputOrganizer3">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">description</label>
                    <textarea class="form-control row mb-4" id="exampleFormControlTextarea1" name="description"
                        rows="7"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row mb-3">
                    <label for="inputDatetime3" class="col-sm-2 col-form-label">Datetime</label>
                    <div class="row mb-3">

                        <input type="text" class="form-control" name="datetime" id="inputDatetime3"
                            value="06/12/2024,13:00">
                    </div>

                </div>
            </div>

            <div class="col">
                <div class="row mb-3">
                    <label for="inputQuota3" class="col-sm-2 col-form-label">Quota</label>
                    <div class="row mb-3">
                        <input type="number" class="form-control" name="quota" id="inputQuota3" value=10 min=1>
                    </div>
                </div>
            </div>

        </div>


        <div class="row">
            <div class="col">
                <div class="row mb-3">
                    <label for="inputLocation3" class="col-sm-2 col-form-label">Location</label>
                    <div class="row mb-3">

                        <input type="text" class="form-control" name="location" id="inputLocation3"
                            value="Apartment,studio or floor">
                    </div>

                </div>
            </div>

            <div class="col">
                <div class="row mb-3">
                    <label for="inputImage" class="col-sm-2 col-form-label">Image</label>
                    <div class="row mb-3">
                        <input type="url" class="form-control" name="image" id="inputImage"
                            value="https://www.youtube.com/watch?v=VXJ7WmyefMA">
                    </div>
                </div>
            </div>
        </div>


<div class="row">
        <div class="col">
        <div class="col-sm-3">
            <div class="row mb-4 ">
                <div class="form-check">
                    <input class="form-check-input" name="highlight" type="checkbox" id="gridCheck1">
                    <label class="form-check-label" for="gridCheck1">
                        Highlight
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <button type="submit" class="btn btn-primary btn-lg float-end">
            Save </button>

        </div>
    </div>



    </form>






</body>